<div class="center-div">
    <div class="logo-img-container">
        <img class="queen-logo-img" src="./assets/images/queen_logo_transparent.png" alt="">
    </div>
    <div class="queen_text">
        I Queen sono un gruppo musicale rock britannico, formatosi a Londra nel 1970 dall'incontro del cantante e
        pianista Freddie Mercury con il chitarrista Brian May e con il batterista Roger Taylor; la formazione
        storica si è poi completata nel 1971 con l'ingresso del bassista John Deacon.

        La band, conosciuta come una tra le più importanti della scena musicale internazionale, ha venduto circa 300
        milioni di dischi nel mondo. Tra le migliori canzoni del quartetto si ricordano Bohemian Rhapsody,
        inserita sia da critici sia da sondaggi popolari tra le migliori canzoni di tutti i tempi, Somebody to
        Love, We Are the Champions, Love of My Life, Bicycle Race, Seven Seas of Rhye, The Miracle, Good
        Old-Fashioned Lover Boy, Killer Queen, Don't Stop Me Now e Crazy Little Thing Called Love di Mercury, We
        Will Rock You, Who Wants to Live Forever, I Want It All, Fat Bottomed Girls, Keep Yourself Alive, '39 e The
        Show Must Go On di May, Radio Ga Ga, These Are the Days of Our Lives, Breakthru, Heaven for Everyone, The
        Invisible Man, I'm in Love with My Car, Innuendo e A Kind of Magic di Taylor e Another One Bites the Dust, I
        Want to Break Free, Back Chat, You're My Best Friend e Spread Your Wings di Deacon. La loro prima raccolta
        del 1981, Greatest Hits, risulta l'album più acquistato in assoluto nel Regno Unito, con oltre sei milioni
        di copie vendute.

        Il gruppo ha riscosso nel corso degli anni un grandissimo successo di pubblico e ha avuto una forte
        influenza sulle generazioni e sui musicisti successivi. Nel 2001 la band è stata inclusa nella Rock and
        Roll Hall of Fame di Cleveland e, nel 2004, nella UK Music Hall of Fame. Inoltre, i quattro membri della
        band sono stati ammessi nella Songwriters Hall of Fame. I Queen, che attinsero principalmente al
        progressive, al glam rock e, soprattutto nei primi anni, all'hard rock, furono influenzati da generi
        musicali molto diversi, come heavy metal, gospel, blues rock, musica elettronica, funk e rock psichedelico.
    </div>
</div>