<footer>
    <div class="footer-elements-container">
        <div class="socila-links">
            <a href="https://www.facebook.com/Queen/" target="_blank">
                <img class="footer-img" src="./assets/images/facebook.svg" alt="facebook icon">
            </a>
            <a href="https://twitter.com/queenwillrock" target="_blank">
                <img class="footer-img" src="./assets/images/twitter.svg" alt="twitter icon">
            </a>
            <a href="https://www.instagram.com/officialqueenmusic/" target="_blank">
                <img class="footer-img" src="./assets/images/instagram.svg" alt="instagram icon">
            </a>
        </div>
        <div class="copyright">
            <span class="copyright-text">©MatteoR1994</span><a href="https://github.com/MatteoR1994" target="_blank"><img class="footer-img" src="./assets/images/github.svg" alt="Github logo"></a>
        </div>
    </div>
</footer>