<div class="center-div">
    <div class="s1">
        <div class="mus-photo">
            <img class="artist" src="./assets/images/musicians/freddie.jpg" alt="">
        </div>
        <div class="mus-info">
            Freddie Mercury, nato Farrokh Bulsara (Zanzibar, 5 settembre 1946 - Londra, 24 novembre 1991). <br>
            Ricordato per il suo talento vocale e per l'esuberante personalità sul palco, è considerato uno dei più
            celebri e influenti artisti nella storia del rock e viene riconosciuto come uno dei migliori frontman di
            sempre. Come membro dei Queen venne inserito nella Rock and Roll Hall of Fame nel 2001, e come singolo
            artista entrò a far parte della Songwriters Hall of Fame nel 2003. Nel 2008 la rivista statunitense
            Rolling Stone lo classificò 18° nella classifica dei migliori cento cantanti di tutti i tempi, mentre
            l'anno successivo si piazzò al primo posto tra le voci rock per Classic Rock.

            Nel 1970, insieme al chitarrista Brian May e al batterista Roger Taylor, fondò i Queen, ai quali un anno più
            tardi si aggiunse il bassista John Deacon. Per il gruppo rock britannico, di cui fece parte fino alla sua
            prematura scomparsa dovuta alle complicanze dell'AIDS da cui era affetto, scrisse canzoni di successo come
            Bohemian Rhapsody, Crazy Little Thing Called Love, Don't Stop Me Now, It's a Hard Life, Killer Queen, Love
            of My Life, Bicycle Race, Play the Game, Somebody to Love e We Are the Champions.
        </div>
    </div>
    <div class="s2">
        <div class="mus-photo">
            <img class="artist" src="./assets/images/musicians/brian-may.jpg" alt="">
        </div>
        <div class="mus-info">
            Brian Harold May (Twickenham, 19 luglio 1947) è il chitarrista del gruppo, da lui fondato insieme a
            Roger Taylor e Freddie Mercury. È
            l'autore di alcuni dei brani più celebri del gruppo, fra i quali spiccano Tie Your Mother Down, We Will Rock
            You, Flash, Hammer to Fall, Who Wants to Live Forever, I Want It All, Save Me, '39, No-One but You (Only the
            Good Die Young) (con Taylor e Deacon), The Show Must Go On. Figura al 26º posto nella classifica dei
            migliori chitarristi di tutti i tempi redatta nel 2011 dalla rivista Rolling Stone. Nel giugno 2020 viene
            infine nominato come miglior chitarrista della storia del rock dalla prestigiosa rivista britannica Total
            Guita.

            May ha un PhD in astrofisica, conseguito all'Imperial College London nel 2007. Nel corso degli anni si è
            occupato dello studio degli asteroidi e della possibilità di modificarne la traiettoria al fine di evitare
            una eventuale collisione con la Terra
        </div>
    </div>
    <div class="s3">
        <div class="mus-photo">
            <img class="artist" src="./assets/images/musicians/roger-taylor.png" alt="">
        </div>
        <div class="mus-info">
            Roger Meddows-Taylor, conosciuto semplicemente come Roger Taylor (26 luglio 1949),
            è il batterista del gruppo. Alcuni dei grandi successi del gruppo portano la sua firma anche se
            emergere di fianco a uno come Freddie Mercury non è cosa semplice. Il mondo della musica su Taylor si
            divide: secondo alcuni rientra nella TOP 100 dei migliori batteristi della storia, secondo altri ha
            solamente avuto la fortuna di incontrare Freddie tra i corridoi della sua scuola. Il dato di fatto è che
            tamburi e rullante ha creato un successo immortale chiamato We Will Rock You.
        </div>
    </div>
    <div class="s4">
        <div class="mus-photo">
            <img class="artist" src="./assets/images/musicians/john-deacon.jpg" alt="">
        </div>
        <div class="mus-info">
            John Richard Deacon (Leicester, 19 agosto 1951).
            Dal 1971 al 1997 (anno in cui si ritirò dal mondo della musica) è stato il bassista del gruppo. Oltre al
            basso, Deacon ha suonato in alcune occasioni anche la chitarra, la batteria e le tastiere, ed è stato autore
            di vari successi della band come Another One Bites the Dust, I Want to Break Free, You're My Best Friend,
            Spread Your Wings e One Year of Love.
        </div>
    </div>
</div>