<div class="center-div">
    <div id="songs-div" class="songs-div">
        <div class="song-container">
            <div class="song-info">
                <span class="song-title">Bohemian Rhapsody</span>
                <span class="song-duration"> - 05:59</span>
            </div>
            <iframe style="margin-bottom: 20px;" width="560" height="315" src="https://www.youtube.com/embed/fJ9rUzIMcZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="song-container">
            <div class="song-info">
                <span class="song-title">Don't Stop Me Now</span>
                <span class="song-duration"> - 03:32</span>
            </div>
            <iframe style="margin-bottom: 20px;" width="560" height="315" src="https://www.youtube.com/embed/HgzGwKwLmgM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="song-container">
            <div class="song-info">
                <span class="song-title">We Will Rock You</span>
                <span class="song-duration"> - 02:14</span>
            </div>
            <iframe style="margin-bottom: 20px;" width="560" height="315" src="https://www.youtube.com/embed/-tJYN-eG1zk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="song-container">
            <div class="song-info">
                <span class="song-title">Somebody To Love</span>
                <span class="song-duration"> - 05:09</span>
            </div>
            <iframe style="margin-bottom: 20px;" width="560" height="315" src="https://www.youtube.com/embed/kijpcUv-b8M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="song-container">
            <div class="song-info">
                <span class="song-title">Radio Ga Ga</span>
                <span class="song-duration"> - 05:53</span>
            </div>
            <iframe style="margin-bottom: 20px;" width="560" height="315" src="https://www.youtube.com/embed/azdwsXLmrHE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>