/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;1,300&display=swap');

/*

font-family: 'Raleway', sans-serif;

*/

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 50px 80vh 200px;
    grid-template-areas: "header"
                         "menu"
                         "content"
                         "footer";
    background-color: black;
}